/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 button {
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 5px;
    padding: 10px 20px;
 }

/* banner section style */
.banner{
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center center;
    color: #FFFFFF;
    
}
nav > h4 {
    padding-top: 180px;
    font-size: 20px;
}
nav > h2{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 200px;
}

/* 65% off section style */
.off-section{
    text-align: center;
}
h1{
    padding-top: 20px;
    margin-top: 40px;
    color: #FF0000;
    font-size: 60px;
    font-weight: 800;
}
.off-specials{
    color: #FF0000;
}
.off-section > h3 {
    font-size: 30px;
    font-weight: bold;
}

.party {
    background-image: url(/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-around;
}

/* Midnight party section css */
.party-spec{
    padding-top: 60px;
    padding-left: 300px;
}

.party-spec > h2 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
}
.party-spec > p{
    color: #FFFFFF;
    padding-bottom: 30px;
}

.party-banner{
    padding-top: 60px;
    padding-right: 300px;
    padding-bottom: 60px;
}

/* portfolio section css */
.portfolio {
    padding: 20px 300px;
}
.gift{
    color: #FF0000;
}
.awesome-port{
    font-size: 40px;
    font-weight: 700;
}
.portfolio-picture{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}